body {
    background-color: lightskyblue;
    padding: 5px;
    margin: 0px;
}
h1 {
    margin: auto;
    text-align: center;
    background-color: greenyellow;
    border-style: solid;
    width: 300px;
}
p {
    margin: 0px;
}
#desc {
    width: 1000px;
    margin: auto;
    padding: 15px;
    font: 1.2em sans-serif;
}
#bar {
    padding: 15px;
    margin: auto;
    width: 600px;
    height: 25px;
}
#background_bar {
    position: absolute;
    background-color: burlywood;
    width: 600px;
    height: 25px;
}
#foreground_bar {
    position: absolute;
    background-color: chartreuse;
    width: 0px;
    height: 25px;
}
#goal_percent {
    position: absolute;
    text-align: right;
    font-size: x-large;
    background-color: transparent;
    width: 600px;
    height: 25px;
}
#locations {
    margin: auto;
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 800px;
}
#map {
    height: 400px;
    width: 400px;
}
#location_box {
    background-color: chartreuse;
    height: 400px;
    width: 400px;
}
#location_info {
    text-align: left;
    font-size: x-large;
}